@CHARSET "UTF-8";
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0
}

body, input, textarea, select, button, table {
    font-size: 14px;
    line-height: 1.25em
}

body {
    position: relative;
    min-width: 320px;
    background-color: #fff;
    background: none repeat scroll 0 0 #F4EEE9;
    font-size: 1em;
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

img, fieldset {
    border: 0
}

ul, ol {
    list-style: none
}

em, address {
    font-style: normal
}

a {
    color: #000;
    text-decoration: none
}

table {
    border-collapse: collapse
}

.h_txt {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0
}

#clear {
    clear: both;
    width: 100%;
    background-color: #fff
}

#clear:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    content: ''
}

.header {
    display: block;
    overflow: hidden;
    position: relative;
    height: 44px;
    border-bottom: 1px solid #7c170a;
    background: url("/images/header_bg.png") repeat-x scroll 0 0 transparent;
    line-height: 44px;
    color: #fff;
    text-align: right
}

.back {
    position: absolute;
    left: 10px;
    color: #fff
}

.back span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    background: url("/images/arrow.png") no-repeat scroll 0 0 transparent
}

h2 {
    font-size: 1em;
    text-align: center
}

.sel-addr {
    padding-left: 5px;
    color: #fff
}

.sel-addr .arrow {
    display: inline-block;
    width: 10px;
    height: 7px;
    padding-left: 5px;
    background: url("/images/arrow.png") -18px -1px no-repeat
}

.btn-area-rt {
    position: absolute;
    top: 0;
    right: 5px
}

.btn-area-lt {
    position: absolute;
    top: 0;
    left: 5px
}

.btn-sear {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    border: 1px solid #7c170a;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1) url("/images/icon.png") 5px -113px no-repeat;
    text-indent: -9999px;
    box-shadow: inset 0 1px 0 rgba(215, 215, 215, .3)
}

.btn-sear-rt {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    border: 1px solid #7c170a;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1) url("/images/home.png") 5px 5px no-repeat;
    text-indent: -9999px;
    box-shadow: inset 0 1px 0 rgba(215, 215, 215, .3)
}

.footer {
    padding: 15px 0;
    border-top: 1px solid #fcfaf9;
    background: none repeat scroll 0 0 #f5f2f5;
    font-size: .8125em;
    text-align: center
}

.footer div {
    margin: 5px 0
}

.footer a {
    color: #67738a
}

.footer .gray {
    font-size: .8125em;
    color: #999
}

.paging .pagedis {
    display: inline-block;
    width: 30%;
    height: 30px;
    margin: 15px 10px 0 0;
    border: 1px solid #baac9d;
    border-radius: 5px 5px 5px 5px;
    background-color: #e2d7c5;
    font-size: 1em;
    line-height: 30px;
    color: gray;
    text-align: center;
    cursor: pointer;
}

.paging .pre, .paging .next {
    display: inline-block;
    width: 30%;
    height: 30px;
    margin: 15px 10px 0 0;
    border: 1px solid #baac9d;
    border-radius: 5px 5px 5px 5px;
    background: #e2d7c5;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2d7c5));
    background: -moz-linear-gradient(center top, #fff, #e2d7c5) repeat scroll 0 0 transparent;
    font-size: 1em;
    line-height: 30px;
    color: #3c3c3c;
    text-align: center;
    cursor: pointer
}

.paging .pre:hover, .paging .next:hover {
    background: #ecc27f;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ecc27f));
    background: -moz-linear-gradient(center top, #fff, #ecc27f) repeat scroll 0 0 transparent
}

.paging .pre span, .paging .next span {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("/images/page.png") 0 0;
}

.paging .page_num {
    padding-right: 10px
}

.paging .next span {
    margin: 0 0 0 5px;
    background-position: 0 -7px
}

.paging .num a {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 10px 0 0;
    color: #67738a
}

.paging .num a.curr {
    color: #3c3c3c
}

.paging ul {
    margin: 10px 0 0
}

.paging li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px
}

.paging li a {
    display: inline-block;
    width: 100%;
    color: #67738a
}

.paging li.curr a {
    color: #3c3c3c
}

.txt-cent {
    text-align: center
}

.txt-lf {
    text-align: left
}

.txt-rt {
    text-align: right
}

#ct {
    clear: both;
    width: 100%
}

#ct:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    content: ''
}

.tc {
    text-align: center
}

.mg {
    margin: 10px
}

.mg-t10 {
    margin-top: 10px
}

.pd010 {
    padding: 0 10px
}

.pd10 {
    padding: 10px
}

.ft13 {
    font-size: .8em
}

.ft14 {
    font-size: .875em
}

.ft15 {
    font-size: .95em
}

.fw-normal {
    font-weight: normal
}

.red {
    color: #db2929
}

.txt {
    color: #67738a
}

.txt2 {
    color: #b8b1ab
}

.txt-3c {
    color: #3c3c3c
}

.txt3 {
    color: #333
}

.txt6 {
    color: #666
}

.mc {
}

.tit-type {
    height: 42px;
    padding: 0 10px;
    border-top: 1px solid #DACEA8;
    border-bottom: 1px solid #DACEA8;
    background: none repeat scroll 0 0 #EDE6DB;
    line-height: 42px;
    color: #DB2929;
    box-shadow: inset 0 1px 0 #fcfaf1
}

.blank {
    height: 10px;
    background: none repeat scroll 0 0 #F0EAD4
}

.btn-yellow {
    display: block;
    padding: 5px 10px 7px;
    border-radius: 5px;
    border: 1px solid #BAAC9D;
    background: #f3d8ae;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#faf0df), color-stop(.05, #f3d8ae), to(#eaba6f));
    background: -moz-linear-gradient(top, #faf0df, #eaba6f);
    line-height: 16px
}

.to-top {
    border-top: 1px solid #fcfaf9;
    border-bottom: 1px solid #dad4cf;
    padding: 5px 0;
    background: #f2ece6;
}

.to-top a {
    display: block;
    width: 50%;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    color: #db2929;
    font-size: .875em;
}

.to-top a span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    vertical-align: middle;
    background: url("/images/top.png") no-repeat;
}

.up {
    display: block;
    padding: 13px 20px;
    text-align: center
}

.up span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background: url("/images/arrow.png") 0 -137px no-repeat;
    vertical-align: middle
}

.posi-re {
    position: relative
}

.shade {
    position: absolute;
    top: 41px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}

.fl {
    float: left
}

.fr {
    float: right
}

.bg-type {
    background: #f9f6f3
}

.btn-type {
    padding: 10px 30px;
    border-radius: 5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ed3131), color-stop(.05, #d22121), to(#af0b0b));
    background: -moz-linear-gradient(top, #ed3131, #af0b0b);
    font-size: 1em;
    color: #fff;
    text-shadow: 1px 1px 2px #000
}

.btn-type2 {
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid #c4b7aa;
    border-radius: 5px;
    background: #ece4d8;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f6f2), color-stop(.05, #eee8de), to(#e1d6c4));
    background: -moz-linear-gradient(top, #f9f6f2, #e1d6c4);
    text-shadow: 1px 1px 1px #fff;
    box-shadow: inset 0 1px 1px #fff, 0 1px 1px rgba(0, 0, 0, .3)
}

.btn-type2 .icon {
    display: inline-block;
    width: 16px;
    height: 18px;
    background: url("/images/icon.png") 0 -184px no-repeat;
    vertical-align: -3px
}

.sel-type li {
    display: table-cell;
    width: 20%;
    color: #3c3c3c;
    text-align: center
}

.lst-type .lt-li {
    border-bottom: 1px solid #dcd8d4;
    box-shadow: 0 1px 0 #fff
}

.lst-type .lt-li .lt-a {
    display: block;
    position: relative;
    padding: 13px 20px;
    font-size: 15px;
    color: #424242
}

.lst-type .lt-li .lt-a .li-arrow {
    position: absolute;
    top: 27%;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("/images/arrow.png") 0 -32px no-repeat;
    isplay: block
}

.lst-type3 {
    border-top: 1px solid #e5e5e5;
    background-color: #fff
}

.lst-type3 .lt-li {
    border-bottom: 1px solid #e5e5e5
}

.lst-type3 .lt-li .lt-a {
    display: block;
    position: relative;
    padding: 13px 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5
}

.lst-type3 .lt-li .lt-a .li-arrow {
    display: block;
    position: absolute;
    top: 30%;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("/images/arrow.png") 0 -32px no-repeat
}

.span-txt {
    display: block;
    line-height: 1.5em
}

.city_lst {
    padding: 10px 20px;
    background-color: #f7f2ee
}

.city_lst li {
    display: inline-block
}

.city_lst li a {
    display: block;
    padding: 7px 8px 7px 0;
    font-size: .95em;
    line-height: 16px;
    color: #67738a
}

.sel-type {
    display: table;
    width: 100%
}

.lst-type .lt-li .city_lst {
    border-top: 1px solid #dcd8d4;
    box-shadow: inset 0 1px 0 #fff
}

.curr-position {
    padding: 15px 10px 7px
}

.curr-position .posi {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 0 5px;
    background: url("/images/icon.png") 0 0 no-repeat
}

.refresh {
    padding-left: 5px;
    color: #67738a;
    text-decoration: underline
}

.thumb .lst-type .lt-li .lt-a .li-arrow {
    top: 40%
}

.thumb .lst-type .lt-li a {
    overflow: hidden;
    padding: 10px
}

.thumb-img {
    float: left
}

.thumb-img img {
    margin-bottom: 5px
}

.range {
    padding: 5px;
    border-radius: 5px;
    background-color: #e5dec3;
    font-size: .875em;
    color: #f93;
    text-shadow: 1px 1px 0 #fff
}

.thumb-cont {
    display: inline-block;
    padding: 15px 0 0 10px
}

.thumb-cont span {
    display: block;
    padding: 3px 0;
    line-height: 20px;
    font-size: .875em
}

.thumb-cont strong {
    font-size: 1.4em;
    color: #db2929
}

.thumb-cont del {
    color: #b8b1ab
}

.thumb-cont .buy span, .price .price-p2 .purchaser span {
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url("/images/icon.png") 0 -38px no-repeat
}

.search {
    position: relative;
    padding: 15px
}

.search input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #c2bdb9;
    border-radius: 5px;
    background-color: #f9f6f3;
    text-indent: 10px
}

.search .btn-sear2 {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 39px;
    background: url("/images/icon.png") 10px -70px no-repeat;
    text-indent: -9999px
}

.tab-tuan {
    border-top: none
}

.tab-lst {
    display: table;
    width: 100%
}

.tab-lst .tl-li {
    display: table-cell;
    width: 33.3%;
    border-bottom: 1px solid #dacea8;
    background-color: #eee4db;
    text-align: center
}

.tab-lst .tl-li .tl-li-a {
    display: block;
    padding: 10px 0;
    border-left: 1px solid #fff;
    color: #666
}

.tab-lst .tl-li .tl-li-a.on {
    background: #e7d7ca;
    color: #666
}

.tab-lst .tl-li:first-child .tl-li-a {
    border-left: none
}

.tab-lst .tl-li:last-child .tl-li-a {
    border-right: none
}

.tab-lst .tl-li .tl-li-a .icon {
    display: inline-block;
    width: 15px;
    height: 11px;
    background: url("/images/arrow.png") -15px -8px no-repeat
}

.tab-chd-lst {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 100;
    min-height: 380px;
    background-color: #f7f2ee
}

.tab-two {
    left: 107px
}

.tab-thr {
    left: 190px
}

.tab-chd-lst .lst-type {
    min-height: 380px;
    padding-top: 7px
}

.tab-chd-lst .lst-type .lt-li {
    border-bottom: none;
    text-align: left;
    box-shadow: none
}

.tab-chd-lst .lst-type .lt-li .lt-a {
    padding: 12px 30px 12px 20px;
}

.tab-chd-lst .arrow {
    display: inline-block;
    position: absolute;
    top: -9px;
    left: 30px;
    width: 18px;
    height: 10px;
    background: url("/images/arrow.png") 0 -108px no-repeat
}

.tab-thr .arrow {
    left: 80px
}

.tab-chd-lst .lst-type-chd:last-child {
    border-left: 1px solid #ded9d6
}

.tab-chd-lst .lst-type-chd:last-child .lt-li .lt-a {
    padding: 12px 20px 12px 20px
}

.tab-chd-lst .lst-type-chd .lt-a {
    font-size: 15px;
    color: #424242
}

.num-count {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 25px;
    width: 40px;
    height: 16px;
    border-radius: 3px;
    background-color: #cbcbcb;
    line-height: 14px;
    color: #fff;
    text-align: center
}

.lst-type2 {
    border-top: 1px solid #e0dddb
}

.lst-type2 li {
    border-bottom: 1px solid #e0dddb
}

.lst-type2 li:last-child {
    box-shadow: 0 1px 0 #fdfcfb
}

.lst-type2 li a {
    position: relative;
    display: block;
    padding: 10px 10px 10px 20px;
    background-color: #f9f6f3;
    box-shadow: inset 0 1px 0 #fdfcfb;
    color: #424242;
    font-size: .75em
}

.lst-type2 li a.on {
    color: #656f84
}

.lst-type2 li a.on .li-check {
    position: absolute;
    top: 39%;
    right: 0;
    height: 20px;
    width: 20px;
    background: url("/images/arrow.png") 0 -312px no-repeat
}

.lst-type2 li:first-child a {
    box-shadow: inset 0 1px 5px #e7e6e6
}

.lst-type2 li:last-child a {
    box-shadow: inset 0 -1px 5px #e7e6e6
}

.view-img {
    padding: 15px
}

.page {
    padding: 10px 0
}

.btn-prev, .btn-next {
    display: inline-block;
    width: 50px;
    height: 30px;
    vertical-align: middle
}

.btn-prev span, .btn-next span {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 24px;
    height: 24px;
    background: url("/images/arrow.png") 0 -237px no-repeat;
    text-indent: -9999px
}

.btn-next span {
    background-position: 0 -264px
}

.btn-prev span.on {
    background-position: 0 -183px
}

.btn-next span.on {
    background-position: 0 -210px
}

.page-num {
    padding: 0 30px
}

.price {
    padding: 10px;
    border-top: 1px solid #ddd9d6;
    border-bottom: 1px solid #ddd9d6;
    line-height: normal;
    box-shadow: inset 0 1px 0 #fdfcfb, 0 1px 0 #fdfcfb
}

.price .price-p1 {
    padding: 10px 0
}

.price .price-p1 strong span:first-child {
    font-size: 1.2em
}

.price .price-p1 strong span:last-child {
    font-size: 1.55em
}

.price .price-p1 del {
    padding: 0 5px;
    color: #b8b1ab
}

.price .price-p1 .btn-type {
    position: absolute;
    top: 6px;
    right: 0
}

.price .price-p2 .purchaser {
    color: #b8b1ab
}

.price .price-p2 .purchaser span {
    padding-right: 10px;
    background-position: 0 -44px
}

.price .price-p2 .time {
    position: absolute;
    top: 3px;
    right: 0;
    padding-left: 15px;
    background: url("/images/icon.png") 0 -159px no-repeat;
    font-size: 12px;
    color: #060
}

.p-txt {
    padding: 10px
}

.spinner {
    z-index: 10;
    height: 80px;
    width: 100px;
    text-align: center;
    display: none
}

.ct .view-img .spinner {
    position: absolute;
    display: block;
    left: 0;
    top: 20%;
    width: 25px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    text-indent: -999px
}

#detail_div img {
    width: 100%;
}

.picBlank {
    width: 220px;
    height: 140px;
    border: 1px dashed #d9cda7;
    text-align: center;
    vertical-align: middle;
    margin: auto
}

.address {
    padding: 6px;
}

.address h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 10px 0;
}

.address ul, .p-intro .detail ul {
    background: none repeat scroll 0 0 #FFFDF7;
    border: 1px solid #CDC2B0;
    border-radius: 5px 5px 5px 5px;
    font-size: 1em;
    margin: 15px 0 0;
}

.address ul li, .p-intro .detail ul li {
    border-bottom: 1px solid #DED6C9;
    border-top: medium none;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.address .small {
    font-size: 0.875em;
}

.address ul li.last, .p-intro .detail ul li.last {
    border-bottom: medium none;
}

.address ul li p {
    line-height: 25px;
    margin: 10px 0;
    word-wrap: break-word;
}

.address ul li .fixwidth {
    width: 220px;
}

.address ul li label {
    margin: 0 0 0 5px;
}

.address ul li p label {
    margin: 0 15px 0 0;
}

.address ul li p label.extra {
    font-size: 1em;
    margin: 0;
}

.address ul a {
    color: #3C3C3C;
}

.promptumenu_window {
    background: #EEE;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    position: relative;
}

.menu-botton-arrow {
    position: absolute;
    top: 30%;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("/images/arrow.png") 0 -32px no-repeat;
    isplay: block
}

.menu-botton-arrow_no {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("/images/arrow.png") 0 -32px no-repeat;
    isplay: block
}

.lst-type .lt-li .lt-a .li-up, .lst-type .lt-li .lt-a .li-down {
    position: absolute;
    top: 27%;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("/images/arrow.png") 0 -445px no-repeat;
    isplay: block
}


.lst-type .lt-li .lt-a.on {
    color: #656f84
}

.lst-type .lt-li .lt-a.on .li-up, .lst-type .lt-li .lt-a.on .li-down {
    position: absolute;
    top: 27%;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("/images/arrow.png") 0 -370px no-repeat;
    isplay: block
}

.lst-type .lt-li .lt-a.on .li-down {
    background: url("/images/arrow.png") 0 -342px no-repeat
}

.sift-mg {
    padding: 12px 10px
}

.mu-l2w {
    clear: both;
    margin: .5em 0
}

.mu-l2a {
    display: block;
    overflow: hidden;
    clear: both;
    padding: .22em 0
}

.mu-l2 .mu-tmb {
    margin: 0 10px .1em 0
}

.mu-tmb {
    _display: inline;
    float: left;
    clear: both;
    margin: .7em 10px .6em;
    border: 1px solid #f3f3f3
}

.mu-l2cw {
    position: relative;
    overflow: hidden;
    display: block
}

.mu-l2h {
    display: block;
    margin: 1px 0 .3em;
    color: #5a5a5a;
    font-size: .95em;
    word-break: break-all
}

.mu-l2c {
    font-size: .95em;
    color: #db2929
}

.mu-l2c del {
    padding-left: 5px;
    color: #b8b4b2;
    font-size: .625em
}

.parting-line {
    height: 1px;
    background: #ddd8d4;
    border-bottom: 1px solid #fcfbf9
}

.icon-tuan {
    position: absolute;
    top: 5;
    left: 5;
    width: 30px;
    height: 18px;
    line-height: 18px;
    background-color: #F00;
    font-size: 12px;
    color: #fff;
    text-align: center
}

.txt-red {
    color: #e4393c
}

.tbl-type2 {
    display: table;
    width: 100%
}

.tbl-cell2 {
    display: table-cell
}

.tbl-type {
    display: table;
    width: 100%;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf
}

.tbl-cell {
    display: table-cell;
    width: 25%;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    text-align: center
}

.tbl-cell-v1 {
    border-top: none
}

.tbl-cell-v2 {
    width: 25%
}

.tbl-cell a {
    display: block;
    padding: 5px 0;
    font-family: '微软雅黑';
    font-size: 14px;
    color: #1d1d1d
}

.message {
    padding: 20px 0;
    font-size: 14px;
    font-family: '微软雅黑';
    text-align: center
}

.h-h3 {
    padding: 5px 12px;
    background: #e3ded5;
    font-size: 14px;
    color: #666
}

.mg {
    padding: 10px 12px
}

.tl-li-v1 {
    width: 50%
}

.city-search {
    position: relative;
    padding: 10px 12px 0;
    color: #e4393c
}

.btn-search {
    position: absolute;
    top: 4px;
    right: 12px;
    width: 30px;
    height: 30px;
    background: url("/images/icon_new.png") 7px 7px no-repeat;
    background-size: 50px 50px;
    text-indent: -9999px
}

.new-p-re {
    position: relative
}

.new-input-span {
    display: block;
    height: 30px
}

.new-select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 30px;
    opacity: 0
}

.new-sel-box {
    display: inline-block;
    width: auto;
    margin: 0 10px 10px 15px;
    font-size: 12px;
    color: #e4393c;
    text-indent: 5px;
    vertical-align: top
}

.new-sel-box span {
    float: right;
    width: 15px;
    height: 8px;
    margin: 7px 3px 0 6px;
    background: url("/images/icon_new.png") 0 -29px no-repeat;
    background-size: 50px 50px
}

.new-sel-box .new-select {
    height: 20px
}

.tuan-srch-area {
    padding: 10px 12px 0
}

.tuan-srch-area .tbl-cell2 {
    width: 50%;
    padding: 5px 0;
    font-size: 12px;
    color: #333;
    text-align: center
}

.new-bar {
    float: left;
    width: 1px;
    height: 12px;
    margin-top: 5px;
    border-left: 1px solid #fff;
    background-color: #ccc;
    vertical-align: middle
}

.tuan-srch-area .tbl-type2 {
    border-top: 1px solid #ccc;
    background-color: #f5f4f4
}

.new-srch-box, .new-srch-box2 {
    display: block;
    position: relative;
    width: auto;
    height: 30px;
    padding-right: 90px;
    border: 1px solid #999;
    background: #fff
}

.new-srch-box2 {
    top: 6px;
    background: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #c3c2c2;
    text-indent: 10px
}

.new-input-span {
    display: block;
    height: 30px;
    border: 1px solid #ccc
}

.new-input-span2 {
    display: block;
    height: 22px;
    padding: 8px 0 0;
    border: 1px solid #ccc
}

.new-input-span2 .new-input {
    height: auto;
    line-height: normal
}

.new-input {
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 0;
    background: #fff;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    color: #bdbdbd;
    text-indent: 10px;
    vertical-align: top;
    -webkit-appearance: none
}

.new-srch-input {
    width: 100%;
    height: 30px;
    margin-right: 30px;
    border: 0;
    border-radius: 0;
    background: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #c3c2c2;
    text-indent: 10px;
    vertical-align: top;
    -webkit-appearance: none
}

.new-post_wr {
    display: block;
    padding: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px 5px;
    -webkit-appearance: textarea
}

.new-textarea {
    width: 98%;
    height: 100px;
    margin-left: .3em;
    border: 0;
    font-size: .9em;
    color: #6e6e6e;
    -webkit-appearance: none
}

.new-btn-type, .new-btn-type2 {
    display: inline-block;
    width: 123px;
    height: 28px;
    border-radius: 2px;
    background-color: #6cb248;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    text-align: center
}

.new-btn-type2 {
    background-color: #c00
}

.new-tbl-cell.w50 {
    width: 50%
}

.new-s-close {
    position: absolute;
    top: 0;
    right: 55px;
    width: 30px;
    height: 30px;
    background: url("/images/icon2.png") 8px -973px no-repeat
}

.new-s-srch {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 30px;
    border-left: 1px solid #ccc;
    background: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#efefef));
    background: -moz-linear-gradient(top, #f7f7f7, #efefef)
}

.new-s-srch span {
    display: block;
    width: 50px;
    height: 30px;
    background: url("/images/icon2.png") 13px -1053px no-repeat
}

.new-srch-lst {
    position: absolute;
    top: 31px;
    left: -1px;
    padding: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    z-index: 100
}

.new-srch-lst li {
    border-bottom: 1px solid #ccc
}

.new-srch-lst li:last-child {
    border-bottom: none
}

.new-srch-lst li a {
    display: block;
    padding: 7px 14px;
    font-size: 14px;
    color: #333
}

.new-srch-lst .new-tbl-type {
    border-top: 1px solid #ccc;
    background-color: #f5f4f4
}

.new-srch-lst .new-tbl-cell {
    width: 50%;
    padding: 5px 0;
    font-size: 12px;
    color: #333;
    text-align: center
}

.tbl-cell-v3 {
    border: none
}

.standard-table {
    background-color: #c0dcf3;
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;
    margin-top: 5px;
}

.standard-table .center {
    text-align: center;
}

.standard-table .right {
    text-align: right;
}

.standard-table th {
    padding: 3px 5px;
    background-color: #d2e8f9;
    color: #333;
}

.standard-table td {
    padding: 3px 5px;
    word-break: break-all;
    word-wrap: break-word;
}

.standard-table tr.comment {
    background-color: #edf6fd;
    color: #666;
    font-weight: bold;
}

.standard-table tr.normal {
    background-color: #fff;
    color: #666;
}

.standard-center {
    text-align: center;
}

.standard-bar {
    padding: 3px 6px;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
}

.standard-list-title {
    margin: 5px 0;
}

.standard-image {
    display: block;
    margin: 10px 0;
}

.standard-image-wrap {
    display: block;
    width: 100%;
}

.deal-menu {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #E8E8E8;
    font-size: 14px;
    color: #222;
}

.deal-menu .name {
    width: auto;
    text-align: left;
}

.deal-menu .price {
    width: 18%;
    text-align: center;
}

.deal-menu .amount {
    width: 23%;
    text-align: center;
}

.deal-menu .subtotal {
    width: 18%;
    text-align: right;
}

.deal-menu caption, .deal-menu th, .deal-menu td {
    padding: 8px 10px;
    background: #FFF;
    border: 1px solid #E8E8E8;
    border-top: none;
    word-break: break-all;
    word-wrap: break-word;
}

.deal-menu caption {
    background: #F0F0F0;
}

.deal-menu caption .title, .deal-menu .subline .title {
    font-weight: bold;
}

.deal-menu th {
    background: #F0F0F0;
    font-weight: bold;
}

.deal-menu td {
    border-left-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
}

.deal-menu .subline {
    background: #FBFBFB;
    text-align: center;
}

.deal-menu-summary {
    padding: 2px 10px;
    text-align: right;
}

.deal-menu-summary .worth {
    display: inline-block;
    min-width: 50px;
    _width: 50px;
    word-break: normal;
    word-wrap: normal;
    font-weight: bold;
}

.deal-menu-summary .price {
    color: #ea4f01;
}

.standard-table {
    background-color: #c0dcf3;
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;
    margin-top: 5px;
}

.standard-table .center {
    text-align: center;
}

.standard-table .right {
    text-align: right;
}

.standard-table th {
    padding: 3px 5px;
    background-color: #d2e8f9;
    color: #333;
}

.standard-table td {
    padding: 3px 5px;
    word-break: break-all;
    word-wrap: break-word;
}

.standard-table tr.comment {
    background-color: #edf6fd;
    color: #666;
    font-weight: bold;
}

.standard-table tr.normal {
    background-color: #fff;
    color: #666;
}

.standard-table {
    background-color: #c0dcf3;
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;
    margin-top: 5px;
}

.standard-table .center {
    text-align: center;
}

.standard-table .right {
    text-align: right;
}

.standard-table th {
    padding: 3px 5px;
    background-color: #d2e8f9;
    color: #333;
}

.standard-table td {
    padding: 3px 5px;
    word-break: break-all;
    word-wrap: break-word;
}

.standard-table tr.comment {
    background-color: #edf6fd;
    color: #666;
    font-weight: bold;
}

.standard-table tr.normal {
    background-color: #fff;
    color: #666;
}

.standard-table {
    background-color: #c0dcf3;
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;
    margin-top: 5px;
}

.standard-table .center {
    text-align: center;
}

.standard-table .right {
    text-align: right;
}

.standard-table th {
    padding: 3px 5px;
    background-color: #d2e8f9;
    color: #333;
}

.standard-table td {
    padding: 3px 5px;
    word-break: break-all;
    word-wrap: break-word;
}

.standard-table tr.comment {
    background-color: #edf6fd;
    color: #666;
    font-weight: bold;
}

.standard-table tr.normal {
    background-color: #fff;
    color: #666;
}

.standard-center {
    text-align: center;
}

.standard-bar {
    padding: 3px 6px;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
}

.standard-list-title {
    margin: 5px 0;
}

.standard-title-content {
    maring: 10px 0 15px;
}

.standard-image {
    display: block;
    margin: 10px 0;
}

.standard-image-wrap {
    display: block;
    width: 100%;
}

.standard-table {
    background-color: #c0dcf3;
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;
    margin-top: 5px;
}

.standard-table .center {
    text-align: center;
}

.standard-table .right {
    text-align: right;
}

.standard-table th {
    padding: 3px 5px;
    background-color: #d2e8f9;
    color: #333;
}

.standard-table td {
    padding: 3px 5px;
    word-break: break-all;
    word-wrap: break-word;
}

.standard-table tr.comment {
    background-color: #edf6fd;
    color: #666;
    font-weight: bold;
}

.standard-table tr.normal {
    background-color: #fff;
    color: #666;
}

.formbutton {
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#ED3131), to(#990A0A));
    background: -moz-linear-gradient(top, #ed3131, #990a0a);
    border: none;
    width: 90%;
    margin: 10px auto 0;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 1px 0px 0px #000;
    border-bottom: 1px solid #BCB0A3;
}

.f-textarea {
    font-size: 1em;
    background-color: #F4F4F4;
    border: 1px solid #A4A4A4;
    padding-left: 8px;
    padding-top: 3px;
    height: 18px;
    line-height: 18px;
    -moz-box-shadow: 0px 1px 3px #c8c8c8 inset;
    -webkit-box-shadow: 0px 1px 3px #C8C8C8 inset;
    box-shadow: 0px 1px 3px #C8C8C8 inset;
    vertical-align: text-top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 100px;
    width: 300px;
}

.f-input {
    font-size: 1em;
    background-color: #F4F4F4;
    border: 1px solid #A4A4A4;
    padding-top: 3px;
    height: 18px;
    line-height: 18px;
    -moz-box-shadow: 0px 1px 3px #c8c8c8 inset;
    -webkit-box-shadow: 0px 1px 3px #C8C8C8 inset;
    box-shadow: 0px 1px 3px #C8C8C8 inset;
    vertical-align: text-top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 100px;
}

.woaicss_con {
    padding: 12px 10px;
    display: block;
    position: relative;
    border: 1px solid #cccac6;
}

.s_buy_btn {
    background: url("/images/sbg.gif") repeat-x;
    height: 24px;
    width: 85px;
    color: #FFF;
    border: none;
    cursor: pointer;
}

#user-login-submit {
    overflow: hidden;
    float: left;
    text-indent: -100em;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 100px;
    background: url("/images/user_rl.gif") no-repeat 0 0;
}

.paybutton {
    background: none repeat scroll 0 0 #F90;
    border-color: #FFB940 #C27502 #C27502 #FFB940;
    border-style: solid;
    border-width: 2px;
    color: #FFF;
    cursor: pointer;
    letter-spacing: 0.1em;
    padding: 4px 1em;
    text-decoration: none;
}

﻿.common-input {
    font-size: 1em;
    background-color: #F4F4F4;
    border: 1px solid #a4a4a4;
    padding-left: 8px;
    padding-top: 3px;
    height: 18px;
    line-height: 18px;
    -moz-box-shadow: 0px 1px 3px #c8c8c8 inset;
    -webkit-box-shadow: 0px 1px 3px #c8c8c8 inset;
    box-shadow: 0px 1px 3px #c8c8c8 inset;
    vertical-align: text-top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.sub_btn {
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed3131), to(#990a0a));
    background: -moz-linear-gradient(top, #ed3131, #990a0a);
    border: none;
    width: 90%;
    margin: 10px auto 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 1px 0px 0px #000;
    border-bottom: 1px solid #bcb0a3;
}

.t-virtual .mc {
    line-height: 25px;
    color: #3c3c3c;
    padding: 15px 6px;
}

.t-virtual .mc p {
    margin: 10px 0 0;
}

.t-virtual .mc h3 {
    color: #67738a;
    font-size: 1em;
}

.t-virtual .mc .p-price {
    color: #db2929;
}

.t-virtual .mc strong {
    color: #db2929;
}

.t-virtual .mc .num {
    width: 60px;
    margin: 0 0 0 10px;
}

.t-virtual .mc .mobie {
    width: 90%;
    margin: 0 auto;
}

.t-virtual .mc textarea {
    width: 90%;
    height: 100px;
    margin: 0 auto;
}

.t-virtual .mc .sub_btn {
    margin: 10px 0 0;
    padding-left: 8px;
}

.t-entity .mc {
    line-height: 25px;
    color: #3c3c3c;
    padding: 15px 6px;
}

.t-entity .mc p {
    margin: 10px 0 0;
}

.t-entity .mc .num {
    width: 60px;
    margin: 0 0 0 10px;
}

.t-entity .mc .address {
    margin: 10px 0 0;
}

.t-entity .mc .address p {
    position: relative;
    background: #ebebeb;
    border: 1px solid #c2bdb9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
}

.t-entity .mc .address a {
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
}

.pay-tip {
    width: 85%;
    margin: 15px auto;
    padding: 10px;
    background: #f0ead4;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.pay-tip strong {
    color: #db2929;
    font-weight: normal;
}

.t-pay {
    line-height: 25px;
    color: #3c3c3c;
    padding: 15px 6px;
}

.online-pay span {
    display: inline-block;
    width: 7px;
    height: 13px;
    margin: 0 0 0 5px;
}

.t-pay .t-tip {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    color: #f98c06;
}

.t-pay .t-tip img {
    margin: 0 10px 0 0;
}

.t-pay .t-paydetail {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.sub_btn_y {
    background: -webkit-gradient(linear, left top, left bottom, from(#faf0df), to(#eaba6f));
    background: -moz-linear-gradient(top, #faf0df, #eaba6f);
    color: #2b2b2b;
    text-shadow: 1px 0px 0px #fff;
}

select {
    padding: 0;
    height: 24px;
    line-height: 24px;
    font-size: 1em;
    color: #3c3c3c;
    border: 1px solid #d3cfca
}

option {
    padding: 3px;
    height: 24px;
    line-height: 24px;
}

.orderList .order-tip {
    width: 85%;
    padding: 10px;
    margin: 20px auto;
    background: #fffdf7;
    border: 1px solid #cdc2b0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.orderList .order-tip h3 {
    color: #db2929;
    font-size: 1em;
    font-weight: normal;
}