@media(min-width: 970px){
    .navbar-btn{
        display: none;
    }
    .page-sidebar{
        display: block;
    }
}


.tools{
    padding-bottom: 10px;
}

.pagination li{
    display: inline-block;
    cursor: pointer;
}


.aster {
    color:red;
}